.input-container {
  .input {
    border: none;
    font-size: var(--font-md);
  }
}

.dark {
  background: var(--black);
  color: var(--white);
}

.light {
  background: var(--white);
  color: var(--black);
}

option:hover {
  background-color: yellow !important;
}
