.quote-author-container {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 10px;
  }

  &__pic {
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      border-radius: 50%;
      border: 3px solid var(--primary-light);
    }
  }
}
