@import "./shared/styles/font-sizes.scss";
@import "./shared/styles/colors.scss";

@font-face {
  font-family: "GtaSanAndreas";
  src: url("./shared/font/GtaSanAndreas.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PriceDown";
  src: url("./shared/font/PriceDown.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Copyright_House";
  src: url("./shared/font/Copyright_House.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Bank_Gothic";
  src: url("./shared/font/bankgothic-russ-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input,
select {
  outline: none;
}
